/**
 * Good Example
 *
 * 1. Selectors on their own lines
 * 2a. First come mixins
 * 2b. Then alphabetical rules
 * 2c. Then nested pseudo-classes, chained selectors
 * 2d. Then nested media queries
 * 2e. Last come nested selectors (& their own nested selectors)
 * 3. Comment when code is only there to override inherited styles
 * 4. Use lots of variables for a single source of truth
 */
.foo,
.foo-bar,
.baz { // 1
  @include font_ui(2); // 2a
  line-height: 1;        // override font_ui line-height // 3
  margin-top: $length;   // 4
  width: 100%;           // 2b

  &:hover { // 2c
    color: red;
  }

  &.mm-has-svg { // 2c
    @include svg_sizer;
  }

  @media only screen and (min-width: $screen_medium) { // 2d
    width: 100%;
  }

  @media only screen and (min-width: $screen_large) { // 2d
    margin-top: $length * 2; // 4
  }

  .m-feed--loader { // 2e
    margin: 0;

    @media only screen and (min-width: $screen_large) {
      display: none;
    }
  }
}
